*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.content {
  display: flex;
  margin: 133px 30px 133px 30px;
}

.button {
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  border: 1px solid white;
  background: none;
  color: white;
}

.button:active {
  background-color: rgb(84, 80, 80);
}

button:hover {
  text-decoration: underline solid white 0.5px;
}

button:focus {
  border: none;
}

.result {
  margin-top: 78px;
  margin-right: 30px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 10%;
}
.result__video-container {
  position: relative;
  width: 711px;
  height: 387px;
}
.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  margin-top: 12px;
}

.search-form__checkbox-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 10px;
  margin-top: 5px;
  font-weight: normal;
}

.search-form__label:hover {
  text-decoration: underline solid white 0.5px;
  text-underline-offset: 2.5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  border: 1px solid white;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  width: 16px;
  height: 16px;
  background: #ffffff;
}

.search-form__submit-button {
  width: 193px;
  height: 33px;
  margin-top: 32px;
}

.search-form__textfield {
  margin-top: 5px;
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background: none;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: white;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow-y: auto;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  word-spacing: 0px;
  line-height: 70px;
  text-transform: uppercase;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:active {
  background-color: rgb(84, 80, 80);
}

.content__card-link:hover {
  text-decoration: underline solid white 0.5px;
  text-underline-offset: 5px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:has(focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link:checked {
  background-color: rgb(84, 80, 80);
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  color: white;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  max-height: 103px;
}

.more-button {
  width: 399px;
  height: 34px;
  margin-top: 36px;
}
